.addChildCard {
  background-color: #e9def4;
}

.formChildDayLog {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formRow {
  display: flex;
  flex-direction: column;
}

.btn {
  cursor: pointer;
  width: 7rem;
  height: 3rem;
  border-radius: 2rem;
  border-bottom-left-radius: 0;
  padding: 0;
  color: inherit;
  border: none;
  transition: all ease-in 0.25s;
  font-weight: 500;
}

.scoreBoard {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.inputField {
  border-radius: 1rem;
  background-color: #f4eef9;
  border: none;
  color: inherit;
  text-align: center;
}

.details {
  height: 12rem;
  text-align: left;
  padding: 0.2rem 0.5rem;
  resize: none;
  overflow-y: auto;
}

.inputField:focus {
  border: 1px solid #9c71c5;
  outline: none;
}
.add {
  background-color: #cdb4e6;
}

.cancel {
  background-color: #bc9bdd;
}

.btn.add:hover {
  background-color: #c2a3e0;
  color: #fff;
}

.btn.cancel:hover {
  background-color: #b18ad8;
  color: #fff;
}

.formActionRow {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}
