.AddCardBtnContainer {
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  width: 10rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #e8e4f2b3, #f3f1f9b3);
  display: flex;
  overflow: hidden;
}

.addBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40%;
  height: 40%;
  background-color: #eee6f789;
  border-radius: 50%;
  box-shadow: 2px 2px 10px 5px #34264207;
  color: #2b1660;
  border: 1px solid #916ab840;
}

.addBtn:hover {
  background-color: #d3bce989;
  color: #f4eef9;
  border: 1px solid #916ab817;
}

.addIcon {
  width: 2.2rem;
  height: 2.2rem;
  color: inherit;
}
